<div>
  <div class="container-fluid" style="width: 100%; margin-top: 1rem; padding: 0 2rem">
    <mat-hint style="font-size: 11px; letter-spacing: 0.04rem;">Accueil - Livres</mat-hint>
    <h2 style="font-weight: 500; margin-top:0.5rem; text-transform: uppercase">Livres</h2>
  </div>
  <ecom-carousel></ecom-carousel>
  <ecom-reassurance></ecom-reassurance>

  <button
    mat-flat-button
    color="primary"
    class="ecom-action-button"
    routerLink="/categories/1"
    style="margin: 1rem"
  >
    Affiches
  </button>
</div>
