@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$font-family: 'Raleway' !default;
$title-font-family: 'Playfair Display';

@import 'material';

@import '~bootstrap/dist/css/bootstrap-grid.min.css';

* {
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  height: 100vh;
  margin: 0;
}
.mat-card-header .mat-card-title {
  font-weight: bold;
  font-size: 16px !important;
}
.mat-card-header .mat-card-subtitle {
  font-size: 16px;
}

h1 {
  font-family: $title-font-family;
}
h2 {
  font-size: 1.5rem;
}
.spacer {
  flex: 1 0 auto;
}

.mat-stroked-button.ecom-action-button {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: bold;
  font-size: 12px;

  background-color: #ffffff42;
  border: 1.7px solid black;

  &:hover {
    color: white;
    border-color: white;
    background-color: #232323;
    font-weight: 500;
  }
}

.mat-stroked-button:not(.mat-button-disabled).ecom-action-button {
  border-color: rgba(0, 0, 0, 0.384);
}

.mat-button.ecom-action-button,
.mat-flat-button.ecom-action-button {
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-weight: 500;
  font-size: 12px;
}
.mat-hint {
  font-size: 14px;

  a {
    border-color: #bdbdbd;
  }
}
a {
  color: inherit;
  border-color: inherit;
  cursor: pointer;
  padding-bottom: 1px;
  text-decoration: none;

  &:not(.mat-icon-button) {
    border-bottom: 1px solid;
  }

  &:hover {
    color: black;
    border-color: black;

    &:not(.mat-icon-button) {
      border-bottom: 1px solid;
    }
  }

  &.link-without-underline:not(:hover) {
    border-bottom: 0;
  }
}

@mixin material-core($font-family) {
  $mat-typography: mat-typography-config($font-family);
  @include mat-core($mat-typography);
}
@include material-core($font-family);

// Custom colors palettes
$dark-primary: mat-palette($mat-gray, 900, 900, 900);
$dark-accent: mat-palette($mat-pink, 700, 600, 800);
$dark-warn: mat-palette($mat-pink, 700, 600, 800);

// Custom dark theme
$light-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);

// Custom Background palette
$custom-light-theme-background: (
  app-bar: white,
);

// Remplacement de la palette 'Background' par défaut
$background: map-get($light-theme, background);
$background: map_merge($background, $custom-light-theme-background);
$light-theme: map_merge(
  $light-theme,
  (
    background: $background,
  )
);

@include angular-material-theme($light-theme);
