@import '~@angular/material/theming';

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$font-family: 'Raleway' !default;
$title-font-family: 'Playfair Display';

@import 'material';

@import '~bootstrap/dist/css/bootstrap-grid.min.css';

* {
  box-sizing: border-box;
}
body {
  font-family: $font-family;
}
h1 {
  font-family: $title-font-family;
}
.spacer {
  flex: 1 0 auto;
}

@mixin material-core($font-family) {
  $mat-typography: mat-typography-config($font-family);
  @include mat-core($mat-typography);
}
@include material-core($font-family);

// Custom colors palettes
$dark-primary: mat-palette($mat-gray, 900, 900, 900);
$dark-accent: mat-palette($mat-gray, 900, 900, 900);
$dark-warn: mat-palette($mat-red);

// Custom dark theme
$dark-theme: mat-light-theme($dark-primary, $dark-accent, $dark-warn);
@include angular-material-theme($dark-theme);
