:host {
  width: 100%;
}

.login-title {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Playfair Display';
  font-size: 25px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  padding-top: 2rem;
}

.mat-form-field {
  font-size: 14px;
}

.mat-divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.container-fluid {
  display: flex;
  justify-content: center;
}

.example-full-width {
  width: 100%;
}
