.nav-footer {
  max-width: 600px;
  height: auto;
  width: auto;
  margin: 15px auto 0;
  padding: 0 0 25.6px;
  text-align: center;

  li {
    height: 20px;
    width: auto;
    margin: 0 10px 6px;
    text-decoration: none;
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;

    a {
      border-width: 1.7px;
    }
  }
}
