<footer>
  <mat-toolbar class="footer">
    <mat-toolbar-row style="height: unset">
      <ecom-newsletter-subscription></ecom-newsletter-subscription>
    </mat-toolbar-row>

    <mat-toolbar-row
      style="height: unset; white-space: unset; margin-top: 1rem"
    >
      <ecom-nav-footer></ecom-nav-footer>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <ecom-social-networks></ecom-social-networks>
    </mat-toolbar-row>

    <mat-toolbar-row style="height: unset">
      <ecom-nav-locale></ecom-nav-locale>
    </mat-toolbar-row>
  </mat-toolbar>
</footer>
